.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.card1 {
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.card1 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card1 ul {
  width: 100%;
  margin-top: 15px;
  padding-left: 20px;
}

.card1 li {
  margin-bottom: 8px;
}
.card2 {
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.card2 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card2 ul {
  width: 100%;
  margin-top: 15px;
  padding-left: 20px;
}

.card2 li {
  margin-bottom: 8px;
}
.card3 {
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.card3 img {
    width: 98%;
    height: 174px;
    object-fit: cover;
    border-radius: 10px;
}

.card3 ul {
  width: 100%;
  margin-top: 15px;
  padding-left: 20px;
}

.card3 li {
  margin-bottom: 8px;
}
.card4 {
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.card4 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card4 ul {
  width: 100%;
  margin-top: 15px;
  padding-left: 20px;
}

.card4 li {
  margin-bottom: 8px;
}
